header {
    display: none;
    background-color: var(--background-color-black);
    position: fixed;
    width: 100%;
    z-index: 2;
}
header .container {
    background-color: var(--background-black-color);
}
header .align-item-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color-black);
    gap: 8px;
    padding: 8px;
    height: 96px;
}
header .navigation .item {
    font-size: var(--menu-font-size-md);
    cursor: pointer;
    padding: 0 16px;
    color: var(--font-color-white);
}
header .social-list {
    display: flex;
    gap: 16px;
}
@media screen and (min-width: 1200px) {
    header {
        display: block;
    }
    header .navigation .item {
        font-size: var(--menu-font-size-sm);
    }
}